#menu a:hover {
	margin: -4px 3px 0 0;
}
.content_inner {
	margin-bottom: 13px;
}
ul.right_date {
	padding: 6px 0 0;
}
li.category ul {
	margin-top: -13px;
}
#footer {
	margin-bottom: 10px;
}
#comment_form {
	margin: 0 0 20px 185px;
}
#highlight {
	margin-bottom: 15px;
}
input, textarea {
	padding-right: 0;
}
textarea {
	margin-right: 15px;
}
#comment_form_contact input {
	padding-right: 0;
	margin-left: -37px;

}
#comment_form_contact textarea {
	margin-left: -30px;
}
p.pretty_form, p.pretty_form_1 {
	margin: 0 120px 0 13px;
}
#comment_form_contact p.pretty_form, #comment_form_contact p.pretty_form_1 {
	margin: -4px 110px 0 43px;
}
p.pretty_form_1 {
	margin: 0 116px 0 11px;
}
p.pretty_area {
	margin: 0 -14px 0 0;
}
#comment_form_contact p.pretty_area {
	margin: -5px -36px 0 43px;
}
#submit, #comment_form_contact #submit {
	margin: -8px -7px 5px 0;
}
#little_info {
	padding: 0 0 0 67px;
	margin-left: 0;
}
#searchform #s {
	width: 82px;
}
#searchform p {
	line-height: normal;
}
#searchsubmit {
	width: 40px;
}
#comment_form {
	padding: 8px 0 0 5px;
}
#comments, #respond {
	margin: 10px 0 0 1px;
}
#respond {
	margin: 7px 0 5px 198px;
}
.navigation {
	margin-right: 10px;
}
.navigation .next {
	margin: -3px 0 0 -45px;
}
.navigation .prev {
	margin: -14px 0 0 42px;
}
#gimme a{
	margin:0 0 0 -1px;
}
#licious{
	margin:0 auto 12px auto;
}
#licious a:hover{
	background-color:#FFFFCC;
}