#head {
	background: #000 url(images/safariheader.gif) no-repeat;
	height: 137px;
	width: 735px;
}
#searchform {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	width: 168px;
       	margin: 63px 0 0 572px;
}
input#s{
  background:#fff;
}
#searchsubmit {
	cursor: pointer;
	width: 52px;
	margin-top:5px;
	margin-left:-16px;
        border:0px;
}
#comment_form_contact input, input{
	border:1px solid #ccc;
        border-color:#fff #fff #999 #fff;
}
#comment_form_contact textarea, textarea{
        border:1px solid #ccc;

}
p.pretty_form, p.pretty_form_1 {
	background:none;
	margin: 0 0 0 30px;
	padding: 4px 8px 0 0;
	width: 235px;
	height: 29px;
}
p.pretty_form_1 {
	background:none;
}
p.pretty_area {
	background:none;
	padding: 7px 8px 0 0;
	margin: 0 0 0 51px;
	width: 450px;
	height: 168px;
}
ul.right_date li.comment {
	background: #fff url(images/comment_1.jpg) no-repeat;
	background-position: 0 -29px;
	width: 100px;
        font-size:1em;
        text-align:center;
	padding: 2px 0 3px 7px;
	border-bottom: 1px dashed #e8e8e7;
}
#submit{
	margin: -8px 10px 0 0;
        border:0px;
}
#comment_form_contact textarea {
	margin-left: 5px;
}