/*  
Theme Name: Daily Misery (wonderwall)
Theme URI: http://alvinwoon.com
Description: Alvin's crib.
Version: 1.5
Author: Alvin Woon
Author URI: http://alvinwoon.com
*/

/*--- [general attributes] ---*/
* {
	padding: 0;
	margin: 0;
}
body {
	color: #474747;
	background: #e7e7e7;
	text-align: center;
	font: 0.7em "Trebuchet MS";
}
#container {
	width: 735px;
	margin: 15px auto;
}
i {
	visibility: hidden;
}
h3 {
	font-size: 13px;
}
p.hr1 {
	width: 696px;
	margin: 0 auto 10px;
	background: url(images/alvin_line.gif) no-repeat;
	clear: both;
}
#head {
	background: #000 url(images/alvin_03.gif) no-repeat;
	height: 137px;
	width: 735px;
}
#menu {
	width: 730px;
	position: relative;
}
#menu li {
	list-style: none;
	display: block;
	position: absolute;
}
#menu a {
	display: block;
	height: 10px;
}
#menu_1 {
	left: 19px;
	top: 106px;
	height: 14px;
	width: 29px;
}
#menu_2 {
	left: 55px;
	top: 106px;
	height: 14px;
	width: 34px;
}
#menu_3 {
	left: 98px;
	top: 106px;
	height: 14px;
	width: 49px;
}
#menu_4 {
	left: 157px;
	top: 106px;
	height: 14px;
	width: 43px;
}
#menu_5 {
	left: 209px;
	top: 106px;
	height: 14px;
	width: 61px;
}
#menu_6 {
	left: 279px;
	top: 106px;
	height: 14px;
	width: 42px;
}
#menu_7 {
	left: 330px;
	top: 106px;
	height: 14px;
	width: 86px;
}
#rss {
	left: 678px;
	top: 106px;
	height: 19px;
	width: 32px;
}
#menu a:hover {
	padding-top: 5px;
	border-bottom: 2px solid #b5da0b;
}
#menu #rss a:hover {
	border: 0;
}
#content {
	background: #fff url(images/alvin_06.gif) repeat-y;
	width: 735px;
}
#content:after, .content_inner:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
}
.content_inner {
	padding: 4px 20px;
}
.left {
	height: 206px;
	width: 175px;
	float: left;
}
.left_info a {
	color: #686868;
}
.left_info a:hover {
	color: #900;
}
.right_single {
	min-height: 270px;
}
table {
	color: #333;
	text-align: left;
	margin: 10px auto;
	background: #5e5853 url(images/info_bg.jpg);
	border-collapse: collapse;
	width: 150px;
	border-top: 2px solid #666;
}
td {
	padding: .5em 1em;
}
tbody tr td.author span {
	background: transparent url(images/user_gray.gif) no-repeat;
	padding: 1px 0 5px 23px;
}
tbody tr.odd td.feed span {
	background: transparent url(images/feed_add.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr.odd td.country span {
	background: transparent url(images/my.gif) no-repeat;
	background-position: 0 3px;
	padding: 2px 0 5px 23px;
}
td a {
	color: #7f9b00;
	text-decoration: none;
}
td a:hover {
	color: #C65B05;
	text-decoration: underline;
}
tbody tr.odd td {
	background: transparent url(images/tr_bg.gif) repeat top left;
}
#middle {
	background: #900;
}
.left_image {
	background: #fff url(images/alvin_shadow.gif) no-repeat;
	width: 175px;
	height: 127px;
	padding-bottom: 6px;
	border-bottom: 1px dashed #e8e8e7;
}
.left_image img {
	margin: 11px 0 0 1px;
}
.left_date {
	float: left;
	background: url(images/alvin_date1.gif) no-repeat;
	background-position: 9px 3px;
	padding: 8px 0 0 9px;
	line-height: 22px;
	width: 50px;
	height: 53px;
}
.left_date span{
	line-height: 22px;
}
.left_date br{
padding-top:100px;
}
.date {
	color: #b1b1b1;
	font: bold 12px Arial, Helvetica, sans-serif;
}
ul.right_date {
	width: 97px;
	position: relative;
	text-align: right;
	list-style: none;
	color: #774000;
	padding: 6px 0 0 70px;
}
ul.right_date li {
	line-height: 20px;
}
ul.right_date li.comment {
	background: url(images/comment_1.jpg) no-repeat;
	background-position: 0 -29px;
	width: 100px;
	height: 24px;
	text-align:center;
	padding: 2px 0 3px 7px;
	border-bottom: 1px dashed #e8e8e7;
}
ul.right_date li.comment a {
	text-decoration: none;
}
ul.right_date li.comment:hover, ul.right_date li.over {
	background: url(images/comment_1.jpg) no-repeat;
	background-position: 0 0;
}
ul.right_date li.category {
	text-align: left;
	background: url(images/alvin_14.gif) no-repeat;
	background-position: 3px 1px;
}
li.category ul {
	padding-left: 30px;
	list-style: none;
}
li.category ul li {
	padding-left: 13px;
	position: relative;
	background: url(images/arrow_right_spearmint.gif) no-repeat;
	background-position: 0 5px;
}
.left_pixel {
	position: absolute;
	left: 0;
	top: 167px;
	margin-left: 169px;
}
h1.headline {
	text-align: left;
	color: #98c51d;
	letter-spacing: 0.07em;
	padding: 2px 0 0 191px;
	font: bold 1.4em Helvetica, sans-serif;
}
.right {
	font-size: 1.1em;
	text-align: left;
	line-height: 17px;
	word-spacing: 0.1em;
	padding: 4px 5px 0 191px;
}
.right img{
	border:1px solid #999;
	padding:3px;
}
.right ul {
	list-style: none;
	padding-left: 20px;
}
.right ul li {
	padding-left: 15px;
	background: url(images/0157_arrow.gif) no-repeat;
	position: relative;
	background-position: 0 2px;
}
.headline a, .right a, .commentlist li a {
	color: #7f9b00;
	text-decoration: none;
}
.headline a:hover, .right a:hover, .commentlist li a:hover {
	color: #C65B05;
	text-decoration: underline;
}
.right a {
	text-decoration: underline;
}
.right p {
	padding-top: 10px;
}
blockquote, blockquote p {
	padding-bottom: 1px;
	margin: 10px 13px;
	color: #333;
	background: #e1effa;
}
span.strike {
	text-decoration: line-through;
}
pre {
	padding: 1em 0;
	width: 99.8%;
	font: 12px "Lucida Console", monospace;
	overflow: scroll;
	background: #F4F2E3;
}
#footer {
	background: #000 url(images/alvin_08.gif) no-repeat;
	height: 55px;
	width: 735px;
}
#comment_form {
	clear: left;
	width: 500px;
	margin: 0 0 20px 192px;
}
#highlight {
	clear: both;
	margin-top: 70px;
	padding: 5px 10px;
	border-top: 2px solid #e2be69;
	border-bottom: 2px solid #e2be69;
	background: #fff3d5;
}
p.label {
	float: left;
	font-size: 9px;
	padding: 6px 0 0;
}
label {
	float: left;
	padding: 6px 0 0;
}
input, textarea {
	border: 0 solid #333;
	background: transparent;
	letter-spacing: 0.05em;
	width: 167px;
	padding-top: 4px;
	padding-right: 44px;
	font: 12px Arial, Helvetica, sans-serif;
}
textarea {
	width: 422px;
	height: 142px;
	margin-right: 1px;
	padding-right: 3px;
	padding-top: 4px;
}
#comment_form_contact {
	margin-top: 5px;
	font: 11px Arial, Helvetica, sans-serif;
}
#comment_form_contact input {
	border: 0 solid #333;
	color: #333;
	background: transparent;
	letter-spacing: 0.05em;
	width: 167px;
	cursor: text;
	padding-top: 8px;
	padding-right: 6px;
	padding-left: 5px;
	margin-left: 5px;
	font: 12px Arial, Helvetica, sans-serif;
}
#comment_form_contact textarea {
	margin-left: 10px;
}
p.pretty_form, p.pretty_form_1 {
	background: url(images/comment_03_focus.jpg) no-repeat left top;
	background-position: 4px 0;
	margin: 0 0 0 50px;
	padding: 4px 8px 0 0;
	width: 235px;
	height: 29px;
}
#comment_form_contact p.pretty_form, #comment_form_contact p.pretty_form_1 {
	padding: 0 8px 0 0;
	margin: -4px 0 0 51px;
}
p.pretty_form_1 {
	background: url(images/comment_03_focus1.jpg) no-repeat left top;
	background-position: 4px 0;
}
p.pretty_area {
	background: url(images/comment_textarea.jpg) no-repeat left top;
	padding: 7px 8px 0 0;
	margin: 0 0 0 51px;
	width: 450px;
	height: 168px;
}
#comment_form_contact p.pretty_area {
	margin: -5px 0 -10px 51px;
}
#submit, #comment_form_contact #submit {
	background: transparent url(images/button_03_hover.jpg) no-repeat;
}
#submit, #comment_form_contact #submit {
	float: right;
	background: transparent url(images/button_03.jpg) no-repeat;
	width: 92px;
	margin: -8px -3px 0 0;
	cursor: pointer;
	height: 47px;
	color: #fff;
}
#submit:hover, #comment_form_contact #submit:hover {
	background: transparent url(images/button_03_hover.jpg) no-repeat;
}
#little_info {
	width: 330px;
	text-align: left;
	padding: 0 0 0 50px;
	margin-left: 20px;
}
#searchform {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	width: auto;
	margin: 65px 0 0 580px;
}
#searchform #s {
	font-size: 9px;
	margin-top: 6px;
	cursor: text;
	width: 84px;
	color: #fff;
	float: left;
	padding: 0 5px;
}
#searchform p {
	line-height: normal;
}
#searchsubmit {
	cursor: pointer;
	width: 45px;
}
#comment_form {
	padding: 8px 0 0 20px;
}
.alt {
	background: #e9ffb9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 10px;
}
.authorcomment {
	background: #ef7509;
	color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 10px;
}
.authorcomment span {
	background: #333 url(images/author.gif) no-repeat;
	background-position: 40px 0;
}
#comments, #respond {
	text-align: left;
	background: #333 url(images/page_spearmint.gif) no-repeat;
	background-position: 7px 4px;
	color: #fff;
	clear: both;
	width: 690px;
	margin: 10px 0 0 8px;
	padding: 2px 5px 2px 25px;
}
#respond {
	background: #333 url(images/0051_plus.gif) no-repeat;
	background-position: 7px 4px;
	width: 493px;
	margin: 7px 0 5px 205px;
}
.commentlist {
	padding: 9px 20px 0 205px;
	text-align: left;
}
.commentlist li {
	padding: 15px 10px 3px;
	list-style: none;
}
.commentlist p {
	margin: 10px 5px 10px 0;
	font: 11px Arial, Helvetica, sans-serif;
}
.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
}
.commentmetadata {
	margin: 0;
	display: block;
}
.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentlist li {
	font-weight: bold;
}
.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
}
.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
}
#commentform p {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.commentmetadata {
	font-weight: normal;
}
small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
}
code {
	font: 1.1em 'Courier New', Courier, Fixed;
}
acronym, abbr, span.caps {
	font-size: 0.9em;
	letter-spacing: .07em;
}
.kgarchives {
	margin: 10px 0 0;
}
.kgarchives a {
	text-decoration: none;
}
.kgarchives a:hover {
	text-decoration: underline;
}
.kgarchives h2 {
	font-size: 14px;
	margin: 8px 0 2px;
}
.right_single input {
	width: 45px;
	padding: 0;
	color: #fff;
	border: 1px solid #eee;
	cursor: pointer;
	background: #333;
}
.right_single input#archmonth {
	width: auto;
}
tbody tr td.archive_notesworthy span {
	background: transparent url(images/heart_add.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr.odd td.comment1 span {
	background: transparent url(images/page_white_edit.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr td.comment2 span {
	background: transparent url(images/monitor_edit.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr.odd td.comment3 span {
	background: transparent url(images/chart_bar.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr td.email span {
	background: transparent url(images/mail.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr.odd td.msn span {
	background: transparent url(images/msn.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr td.puppy span {
	background: transparent url(images/puppy.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr td.brim span {
	background: transparent url(images/puppy.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
tbody tr td.ie span {
	background: transparent url(images/browser_internetexplorer.gif) no-repeat;
	padding: 2px 0 5px 23px;
}
.navigation {
	background: transparent url(images/nav.gif) no-repeat;
	width: 106px;
	height: 32px;
	color: #fff;
	float: right;
	padding-top: 10px;
	margin-right: 20px;
}
.navigation a {
	color: #fff;
	position: relative;
	text-decoration: none;
}
.navigation a:hover {
	border-bottom: 2px solid #b5da0b;
}
.navigation .next {
	margin: -3px 0 0 -47px;
}
.navigation .prev {
	margin: -14px 0 0 40px;
}

/*---[movie database] ---*/
#mytable {width:495px;padding:0;margin:0;border:0}
#mytable caption {padding:0 0 5px;width:495px;font:italic 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-align:right}
#mytable th {font:bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;color:#797268;border-right:1px solid #C1DAD7;border-bottom:1px solid #C1DAD7;border-top:1px solid #C1DAD7;letter-spacing:2px;text-transform:uppercase;text-align:left;padding:6px 6px 6px 12px;background:#CAE8EA url(images/bg_header.jpg) no-repeat}
#mytable th.nobg {border-top:0;color:#fff;border-left:0;border-right:1px solid #C1DAD7;background:#6b0216 url(images/bg_header1.gif) no-repeat}
#mytable td {border-right:1px solid #C1DAD7;border-bottom:1px solid #C1DAD7;background:#fff;padding:6px 6px 6px 12px;color:#4f6b72;font:11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif}
#mytable td.alt {background:#F5FAFA;color:#797268}
#mytable th.spec {border-left:1px solid #C1DAD7;border-top:0;color:#797268;background:#fff url(images/bullet1.gif) no-repeat;font:bold 9px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif}
#mytable th.specalt {border-left:1px solid #C1DAD7;border-top:0;background:#f5fafa url(images/bullet2.gif) no-repeat;font:bold 9px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;color:#797268}
ul.star-rating {list-style:none;margin:0;padding:0;width:100px;height:20px;position:relative;background:url(images/star_rating.gif) top left repeat-x}
ul.star-rating li {padding:0;margin:0;float:left}
ul.star-rating li {display:block;width:20px;height:20px;text-decoration:none;text-indent:-9999px;z-index:20;position:absolute;padding:0}
ul.star-rating li.one-star {background:url(images/star_rating.gif) left bottom;z-index:100;left:0}
ul.star-rating li.one-star-half {background:url(images/star_rating_half.gif) left bottom;z-index:100;left:0}
ul.star-rating li.two-stars {background:url(images/star_rating.gif) left bottom;z-index:1;left:20px}
ul.star-rating li.two-stars-half {background:url(images/star_rating_half.gif) left bottom;z-index:1;left:20px}
ul.star-rating li.three-stars {background:url(images/star_rating.gif) left bottom;z-index:1;left:40px}
ul.star-rating li.three-stars-half {background:url(images/star_rating_half.gif) left bottom;z-index:1;left:40px}
ul.star-rating li.four-stars {background:url(images/star_rating.gif) left bottom;z-index:1;left:60px}
ul.star-rating li.four-stars-half {background:url(images/star_rating_half.gif) left bottom;z-index:1;left:60px}
ul.star-rating li.five-stars {background:url(images/star_rating.gif) left bottom;z-index:1;left:80px}
ul.star-rating li.five-stars-half {background:url(images/star_rating_half.gif) left bottom;z-index:1;left:80px}